


#nav-menu{
    background-color: rgb(27, 27, 83);
    color: burlywood;
}

#nav-item{
    border-style: solid;
    border-color: rgb(70, 70, 184);
    border-width: 1px;
    padding: 10px;
}

#nav-item a{
    text-decoration: none;
        color: aliceblue;
}

#nav-item:hover{
    background-color: rgb(68, 68, 182);

}

#script-container{
    padding: 50px;
  /*  background: rgb(124, 123, 123);*/
}

#script-container3D{
    padding: 50px;
  /*  background: rgb(124, 123, 123);*/
}

#parameters{
    padding-top: 50px;
    padding-left: 10px;
    
   /* background: rgb(124, 123, 123);*/
}

#explanation{
    padding-bottom: 500px;
   /* background: rgb(124, 123, 123);*/
}


.toggle {
    padding: 50;

    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #2196F3;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
  }


  img{
    width: 390px;    
  }

  p{
    text-align: justify;
  }


  header .nav-item {
    width: 100%;

    padding: 0 !important;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

  }

  header a{
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 10;
    vertical-align: middle;
    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    

  }

  .wave-explanation h3 {
    margin-bottom: 15px;
    margin-top: 15px;
  } 